# Ignore environment variables and API secrets
.env
.venv/
streamlit_secrets.toml
.streamlit/secrets.toml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
logs/
*.log
*.out
*.err

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Streamlit temporary files
.streamlit/

# VS Code settings
.vscode/
